<!DOCTYPE html>
<html>
<head>
	<title>quiz</title>

	<link rel="stylesheet" type="text/css" href="../stylesheets/dashboard.css">

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">


 
</head>
	


	<div class="wrapper">

		<div class="user">
					<img id="user-profile" src="../images/me.jpg" alt="user-profile">
					<span id="username">Vishal Marhatta
						<i class="fa fa-chevron-down"></i>
					</span>
		</div>

		<nav class="sidebar deactive">
			<button id="clickme" ><i class="fa fa-bars"></i></button>
			<span class="item item-deactivate brand">CodeBazaar</span>
			<ul class="components list-unstyled">

				<hr />
				<li ><i class="fa fa-filter "></i><a href="#" class="item item-deactivate active-item">Browse&nbsp;Quizzes</a></li>
				<hr />
				<li><i class="fa fa-line-chart "></i><a href="#" class="item item-deactivate">My&nbsp;Performance</a></li>
				<hr />
				<li><i class="fa fa-comments-o "></i><a href="#" class="item item-deactivate"> Feedback</a></li>
				<hr />
				<li><i class="fa fa-pencil "></i><a href="#" class="item item-deactivate">Forums</a></li>
				<hr />
				<li><i class="fa fa-phone "></i><a href="#" class="item item-deactivate"></i>Contact</a></li>
			</ul>

			

		</nav>
	
</div>
<body>




<script type="text/javascript" src="../js/dashboard.js"></script>
</body>
</html>