* {
    box-sizing: border-box;
}

body,html
{
  margin:0;
  padding:0;
}


.user
{
  background-color:rgba(111, 118, 186,0.4);
  border-radius: 30px; 
  color:#f2f2f2;
  margin-top:10px;
  height:40px;
  margin-right:-50px;

}

#user-profile
{
  width:40px;
  height:40px;
  border-radius: 50%;
  margin-left:-14px;
}

/* for notification */
.bell
{
  font-size:30px;
  margin:5px;
}

.notification
{
  position: relative;
  right:15px;
  bottom:8px;

}


/*sidebar*/
#clickme
{
  border-radius: 50%;
  background-color:rgba(111, 118, 186);
  color:whitesmoke;
  margin:10px 0 0 15px;
}

.active-item
{
  background-color:rgba(111, 118, 186);
  border-radius:35px;
  color:whitesmoke;
  list-style: none;
  text-decoration: none;
  padding:10px;

}

.item-deactivate
{
  display:none;
}


.wrapper
{
  margin-left:-20px;
  
}

.sidebar
{
  width:265px;
  height:100vh; /* full screen */
  background-color:rgba(169, 175, 227);
  position:relative;
  transition: 0.2s all;
  margin:0;
  z-index:9999;

}

.deactive
{

  width:55px;
  transition: 0.3s all;

}

.components
{
  font-size:20px;
  margin:20px;
  line-height:30px;
  font-family: 'Quicksand', sans-serif;

}


.item
{
  margin:13px;
  color: #e6e6e6;
}

.item:hover
{
  background-color:rgba(111, 118, 186,0.7);
  border-radius:35px;
  color:whitesmoke;
  list-style: none;
  text-decoration: none;
  padding:10px;
  transition: 0.2s all;

}

/* sidebar css ends here*/

.brand /* to override the css of item class, brand is written after item class*/
{
  font-size:20px ;
  margin: 30px;
  font-weight:100;
  width:100%;

}

.brand:hover
{
  background-color:inherit;
  
}

.upcoming-quizzes
{
  
  width:200px;
  height:100px;
  display:inline-block;
  float:left;
  margin:10px;
}

.rewards
{
  margin-top:10px;
  height:100px;
  width:300px;
}

.quizzes
{
  display:inline-block;
  margin:10px;
  width:280px;
  height:432px;
  border:2px solid black;
  
}

.horizontal-scroll
{
  overflow-x:scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling:touch;
}


/* leaderboard styles */

.leaderboard-title
{
  text-align: center;
  background-color:#6F82BA;
  line-height:50px;
  color: #f2f2f2;
}

.leaderboard
{
  height:432px;
  width:300px;
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}

.leaderboard:hover
{
  box-shadow: 0 0 16px rgba(33,33,33,.2);
}

.leaders
{

  border-bottom: 1px dashed grey;
  padding:10px;
}

.leader-image
{
  width:50px;
  height:50px;
  border-radius:50%;
}

.leader-name
{
  font-family: 'Quicksand', sans-serif;
  margin:10px;
}

#trophy
{
  font-size:25px;
  color:gold;
  position:relative;
  top:30px;
  left:50px;
}


/* leaderboard css ends here */
