body,html
{
  margin:0;
  padding:0;
}

.user
{
  position:relative;
  top:12px;
  float:right;
  background-color:rgba(111, 118, 186,0.4);
  border-radius: 30px; 
  margin-right:10px;
  color:#e6e6e6;
}

#user-profile
{
  width:50px;
  height:50px;
  border-radius: 50%;
}

#username
{
  margin:10px 20px 10px 10px;
}


#clickme
{
  border-radius: 50%;
  background-color:rgba(111, 118, 186);
  color:whitesmoke;
  margin:10px 0 0 15px;
}





.active-item
{
  background-color:rgba(111, 118, 186);
  border-radius:35px;
  color:whitesmoke;
  list-style: none;
  text-decoration: none;
  padding:10px;

}

.item-deactivate
{
  display:none;
}

.sidebar
{
  width:270px;
  height:100vh; /* full screen */
  background-color:rgba(169, 175, 227);
  position:relative;
  transition: 0.6s all;

}

.deactive
{

  width:60px;
  transition: 0.6s all;
}

.components
{
  font-size:20px;
  margin:20px;
  line-height:30px;
  font-family: 'Quicksand', sans-serif;

}


.item
{
  margin:13px;
  color: #e6e6e6;
}

.item:hover
{
  background-color:rgba(111, 118, 186,0.7);
  border-radius:35px;
  color:whitesmoke;
  list-style: none;
  text-decoration: none;
  padding:10px;
  transition: 0.2s all;

}

.brand /* to override the css of item class, brand is written after item class*/
{
  font-size:20px ;
  margin: 30px ;
  font-weight:100;
  width:100%;

}

.brand:hover
{
  background-color:inherit;
  
}


